In [1]:
import pandas as pd
from bs4 import BeautifulSoup
import requests
import random

In [17]:
url = "https://api.data.gov/ed/collegescorecard/v1/schools?api_key=mFuqKzO4iJVMtXoDOTXls72Lykdby6wjPFvtOUG7&school.name=Colorado School of Mines"

response = requests.get(url)
response = response.json()

In [31]:
results = response["results"]

In [42]:
results = pd.DataFrame(results[0])

In [45]:
results

,latest,school,location,id,ope6_id,ope8_id,fed_sch_cd
school,"{'zip': '80401', 'city': 'Golden', 'name': 'Co...",NaN,NaN,126775,001348,00134800,001348
student,"{'size': 5662, 'grad_students': 1689, 'enrollm...",NaN,NaN,126775,001348,00134800,001348
cost,"{'booksupply': 1500, 'tuition': {'in_state': 2...",NaN,NaN,126775,001348,00134800,001348
aid,"{'loan_principal': 17500, 'pell_grant_rate': 0...",NaN,NaN,126775,001348,00134800,001348
earnings,"{'student_count': 0, '6_yrs_after_entry': {'me...",NaN,NaN,126775,001348,00134800,001348
completion,"{'consumer_rate': 0.8456, 'pooled_yrs_used': 2...",NaN,NaN,126775,001348,00134800,001348
repayment,"{'2_yr_default_rate': 0.018, '3_yr_default_rat...",NaN,NaN,126775,001348,00134800,001348
admissions,"{'test_requirements': 5, 'admission_rate': {'o...",NaN,NaN,126775,001348,00134800,001348
academics,"{'program': {'assoc': {'legal': 0, 'health': 0...",NaN,NaN,126775,001348,00134800,001348
programs,"{'cip_4_digit': [{'code': '1107', 'title': 'Co...",NaN,NaN,126775,001348,00134800,001348
zip,NaN,80401,NaN,126775,001348,00134800,001348
city,NaN,Golden,NaN,126775,001348,00134800,001348
name,NaN,Colorado School of Mines,NaN,126775,001348,00134800,001348
alias,NaN,Mines,NaN,126775,001348,00134800,001348
state,NaN,CO,NaN,126775,001348,00134800,001348
locale,NaN,21,NaN,126775,001348,00134800,001348
address,NaN,1500 Illinois St,NaN,126775,001348,00134800,001348
dolflag,NaN,0,NaN,126775,001348,00134800,001348
branches,NaN,1,NaN,126775,001348,00134800,001348
men_only,NaN,0,NaN,126775,001348,00134800,001348
operating,NaN,1,NaN,126775,001348,00134800,001348
ownership,NaN,1,NaN,126775,001348,00134800,001348
region_id,NaN,7,NaN,126775,001348,00134800,001348
accreditor,NaN,Higher Learning Commission,NaN,126775,001348,00134800,001348
school_url,NaN,www.mines.edu/,NaN,126775,001348,00134800,001348
women_only,NaN,0,NaN,126775,001348,00134800,001348
main_campus,NaN,1,NaN,126775,001348,00134800,001348
online_only,NaN,0,NaN,126775,001348,00134800,001348
endowment,NaN,"{'end': 322221638, 'begin': 359223868}",NaN,126775,001348,00134800,001348
carnegie_basic,NaN,15,NaN,126775,001348,00134800,001348
faculty_salary,NaN,13173,NaN,126775,001348,00134800,001348
ownership_peps,NaN,1,NaN,126775,001348,00134800,001348
accreditor_code,NaN,NCACHE,NaN,126775,001348,00134800,001348
ft_faculty_rate,NaN,0.6555,NaN,126775,001348,00134800,001348
carnegie_undergrad,NaN,14,NaN,126775,001348,00134800,001348
degree_urbanization,NaN,None,NaN,126775,001348,00134800,001348
under_investigation,NaN,0,NaN,126775,001348,00134800,001348
price_calculator_url,NaN,ir.mines.edu/net-price-calculator/,NaN,126775,001348,00134800,001348
carnegie_size_setting,NaN,13,NaN,126775,001348,00134800,001348
minority_serving,NaN,"{'annh': 0, 'nant': 0, 'aanipi': 0, 'tribal': ...",NaN,126775,001348,00134800,001348
religious_affiliation,NaN,None,NaN,126775,001348,00134800,001348
open_admissions_policy,NaN,2,NaN,126775,001348,00134800,001348
title_iv,NaN,"{'approval_date': '1/1/1966', 'eligibility_typ...",NaN,126775,001348,00134800,001348
degrees_awarded,NaN,"{'highest': 4, 'predominant': 3, 'predominant_...",NaN,126775,001348,00134800,001348
tuition_revenue_per_fte,NaN,22348,NaN,126775,001348,00134800,001348
instructional_expenditure_per_fte,NaN,17235,NaN,126775,001348,00134800,001348
institutional_characteristics,NaN,{'level': 1},NaN,126775,001348,00134800,001348
lat,NaN,NaN,39.751443,126775,001348,00134800,001348
lon,NaN,NaN,-105.223364,126775,001348,00134800,001348

In [59]:
programs = results.loc["programs"]["latest"]
programs = programs['cip_4_digit']

In [64]:
compSci = {}
print(programs[0]['title'])
for program in programs:
    title = program[0]['title']
    if "Computer Science." in title:
        compSci += program

Computer Science.

KeyError: 0

{}