# RFP: Betting on the Bachelor

## Project Overview
You are invited to submit a proposal that answers the following question:

### Who will win season 29 of the Bachelor?

*All proposals must be submitted by **1/15/25 at 11:59 PM**.*

## Required Proposal Components

### 1. Data Description
In the code cell below, read in the data you plan on using to train and test your model. Call `info()` once you have read the data into a dataframe. Consider using some or all of the following sources:
- [Scrape Fandom Wikis](https://bachelor-nation.fandom.com/wiki/The_Bachelor) or [the official Bachelor website]('https://bachelornation.com/shows/the-bachelor/')
- [Ask ChatGPT to genereate it](https://chatgpt.com/)
- [Read in csv files like this](https://www.kaggle.com/datasets/brianbgonz/the-bachelor-contestants?select=contestants.csv)

*Note, a level 5 dataset contains at least 1000 rows of non-null data. A level 4 contains at least 500 rows of non-null data.*

In [289]:
import pandas as pd
from bs4 import BeautifulSoup
import numpy as np
import bs4
import requests
import random
from sklearn import linear_model
from sklearn.model_selection import train_test_split
from functools import reduce

In [154]:
df = pd.read_csv("bachelor-contestants.csv", encoding="ISO-8859-1") #Seasons 1-2, 5, 9-26
df

,Name,Age,Is Older,Age Diff,Occupation,Function,Hometown,City,State,Region,ElimWeek,Season,First_Impression_Rose,Hair Color,Is Blonde,Winner,Height
0,Amanda Marsh,23.0,0.0,8.0,Event Planner,Retail/Services/Entrepreneur,"Chanute, Kansas",Chanute,Kansas,Midwest,7.0,1,0,Blonde,1.0,1.0,68.0
1,Trista Rehn,29.0,0.0,2.0,Miami Heat Dancer,Arts/Entertainment,"Miami, Florida",Miami,Florida,South,6.0,1,0,Blonde,1.0,0.0,NaN
2,Shannon Oliver,24.0,0.0,7.0,Financial Management Consultant,Finance,"Dallas, Texas",Dallas,Texas,South,5.0,1,0,Brown,0.0,0.0,NaN
3,Kim,24.0,0.0,7.0,Nanny,Retail/Services/Entrepreneur,"Tempe, Arizona",Tempe,Arizona,West,4.0,1,0,Blonde,1.0,0.0,NaN
4,Cathy Grimes,22.0,0.0,9.0,Graduate Student,Student,"Terra Haute, Indiana",Terra Haute,Indiana,Midwest,3.0,1,0,Blonde,1.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
574,Jane Paik,33.0,1.0,5.0,Social Media Director,Corporate,"Los Angeles, California",Los Angeles,California,West,1.0,26,0,Brown,0.0,0.0,NaN
575,Lindsay Dobbs,27.0,0.0,1.0,Neonatal Nurse,Medical,"Warner Robins, Georgia",Warner Robins,Georgia,South,1.0,26,0,Blonde,1.0,0.0,NaN
576,Rianna Hockaday,26.0,0.0,2.0,Registered Nurse,Medical,"Mount Pleasant, Texas",Mount Pleasant,Texas,South,1.0,26,0,Blonde,1.0,0.0,NaN
577,Samantha Jeffries,26.0,0.0,2.0,Occupational Therapist,Medical,"Dayton, Ohio",Dayton,Ohio,Midwest,1.0,26,0,Red,0.0,0.0,NaN
578,Claire Heilig,28.0,0.0,0.0,Spray Tanner,Retail/Services/Entrepreneur,"Virginia Beach, Virginia",Virginia Beach,Virginia,South,1.0,26,0,Blonde,1.0,0.0,NaN

In [38]:
def Scrape(url : str, htmlIdentifier : str):
    URL = url
    page = requests.get(URL)
    soup = BeautifulSoup(page.content, "html.parser")
        
    data = soup.find_all(htmlIdentifier)
        
    return data

def getScrapedId(url : str, htmlIdentifier : str, idName : str):
    URL = url
    page = requests.get(URL)
    soup = BeautifulSoup(page.content, "html.parser")
        
    data = soup.find(htmlIdentifier, id=idName)
        
    return data

In [18]:
scrapedData = Scrape("https://bachelor-nation.fandom.com/wiki/The_Bachelor", "a")

In [29]:
links = {}
for data in scrapedData:
    title = data.get("title")
    
    if not type(title) == str: 
        continue
    
    if "The Bachelor (Season" in title:
        links[title] = f"https://bachelor-nation.fandom.com/" + data.get("href")
    
links

{'The Bachelor (Season 7)': 'https://bachelor-nation.fandom.com//wiki/The_Bachelor_(Season_7)',
 'The Bachelor (Season 8)': 'https://bachelor-nation.fandom.com//wiki/The_Bachelor_(Season_8)',
 'The Bachelor (Season 9)': 'https://bachelor-nation.fandom.com//wiki/The_Bachelor_(Season_9)',
 'The Bachelor (Season 1)': 'https://bachelor-nation.fandom.com//wiki/The_Bachelor_(Season_1)',
 'The Bachelor (Season 2)': 'https://bachelor-nation.fandom.com//wiki/The_Bachelor_(Season_2)',
 'The Bachelor (Season 3)': 'https://bachelor-nation.fandom.com//wiki/The_Bachelor_(Season_3)',
 'The Bachelor (Season 4)': 'https://bachelor-nation.fandom.com//wiki/The_Bachelor_(Season_4)',
 'The Bachelor (Season 5)': 'https://bachelor-nation.fandom.com//wiki/The_Bachelor_(Season_5)',
 'The Bachelor (Season 6)': 'https://bachelor-nation.fandom.com//wiki/The_Bachelor_(Season_6)',
 'The Bachelor (Season 10)': 'https://bachelor-nation.fandom.com//wiki/The_Bachelor_(Season_10)',
 'The Bachelor (Season 11)': 'https://bachelor-nation.fandom.com//wiki/The_Bachelor_(Season_11)',
 'The Bachelor (Season 12)': 'https://bachelor-nation.fandom.com//wiki/The_Bachelor_(Season_12)',
 'The Bachelor (Season 13)': 'https://bachelor-nation.fandom.com//wiki/The_Bachelor_(Season_13)',
 'The Bachelor (Season 14)': 'https://bachelor-nation.fandom.com//wiki/The_Bachelor_(Season_14)',
 'The Bachelor (Season 15)': 'https://bachelor-nation.fandom.com//wiki/The_Bachelor_(Season_15)',
 'The Bachelor (Season 16)': 'https://bachelor-nation.fandom.com//wiki/The_Bachelor_(Season_16)',
 'The Bachelor (Season 17)': 'https://bachelor-nation.fandom.com//wiki/The_Bachelor_(Season_17)',
 'The Bachelor (Season 18)': 'https://bachelor-nation.fandom.com//wiki/The_Bachelor_(Season_18)',
 'The Bachelor (Season 19)': 'https://bachelor-nation.fandom.com//wiki/The_Bachelor_(Season_19)',
 'The Bachelor (Season 20)': 'https://bachelor-nation.fandom.com//wiki/The_Bachelor_(Season_20)',
 'The Bachelor (Season 21)': 'https://bachelor-nation.fandom.com//wiki/The_Bachelor_(Season_21)',
 'The Bachelor (Season 22)': 'https://bachelor-nation.fandom.com//wiki/The_Bachelor_(Season_22)',
 'The Bachelor (Season 23)': 'https://bachelor-nation.fandom.com//wiki/The_Bachelor_(Season_23)',
 'The Bachelor (Season 24)': 'https://bachelor-nation.fandom.com//wiki/The_Bachelor_(Season_24)',
 'The Bachelor (Season 25)': 'https://bachelor-nation.fandom.com//wiki/The_Bachelor_(Season_25)',
 'The Bachelor (Season 26)': 'https://bachelor-nation.fandom.com//wiki/The_Bachelor_(Season_26)',
 'The Bachelor (Season 27)': 'https://bachelor-nation.fandom.com//wiki/The_Bachelor_(Season_27)',
 'The Bachelor (Season 28)': 'https://bachelor-nation.fandom.com//wiki/The_Bachelor_(Season_28)',
 'The Bachelor (Season 29)': 'https://bachelor-nation.fandom.com//wiki/The_Bachelor_(Season_29)'}

In [191]:
names : list = []
ages : list = []
hometowns : list = []
occupations : list = []
status : list = []

def GetBachelorSeason(link : str):
    URL = link
    page = requests.get(URL)
    soup = BeautifulSoup(page.content, "html.parser")
    
    start_title = soup.find('span', id="Contestants")
    
    if not type(start_title) == bs4.element.Tag:
        return
    
    end_title = soup.find('span', id="Episodes")
    end_tr = end_title.find_previous("tr")
    elements_between = []
    
    current_tr = start_title.find_next('tr')
    tr_elements = []

    while current_tr and current_tr != end_tr:
        tr_elements.append(current_tr)
        current_tr = current_tr.find_next('tr')
        
    for contestantData in tr_elements:
        curTr = contestantData.find_next('td')
        if len(names) < 25 and not curTr.getText(strip=True) in names:
            names.append(curTr.getText(strip=True))
        curTr = curTr.find_next('td')
        if len(ages) < 25:
            ages.append(curTr.getText(strip=True))
        curTr = curTr.find_next('td')
        if len(hometowns) < 25:
            hometowns.append(curTr.getText(strip=True))
        curTr = curTr.find_next('td')
        if len(occupations) < 25:
            occupations.append(curTr.getText(strip=True))
        curTr = curTr.find_next('td')
        if len(status) < 25:
            numbers = 0
            for char in curTr.text:
                if char.isdigit():
                    numbers += float(char)
            status.append(numbers)
            
def ClearLists():
    names[:] = []
    ages[:] = []    
    hometowns[:] = []    
    occupations[:] = []    
    status[:] = []

In [263]:
def GetBachelorSeasonWiki(link : str, end : str = "Call-out_order"):
    URL = link
    page = requests.get(URL)
    soup = BeautifulSoup(page.content, "html.parser")
    
    start_title = soup.find('h2', id="Contestants")
    
    if not type(start_title) == bs4.element.Tag:
        return
    
    end_title = soup.find('h2', id=end)
    end_tr = end_title.find_previous("tr")
    elements_between = []
    
    current_tr = start_title.find_next('tr')
    tr_elements = []

    while current_tr and current_tr != end_tr:
        tr_elements.append(current_tr)
        current_tr = current_tr.find_next('tr')
        
    for contestantData in tr_elements:
        curTr = contestantData.find_next('td')
        if len(names) < 25 and not curTr.getText(strip=True) in names:
            names.append(curTr.getText(strip=True))
        curTr = curTr.find_next('td')
        if len(ages) < 25:
            ages.append(curTr.getText(strip=True))
        curTr = curTr.find_next('td')
        if len(hometowns) < 25:
            hometowns.append(curTr.getText(strip=True))
        curTr = curTr.find_next('td')
        if len(occupations) < 25:
            occupations.append(curTr.getText(strip=True))
        curTr = curTr.find_next('td')
        if len(status) < 25:
            numbers = 0
            for char in curTr.text:
                if char.isdigit():
                    numbers += float(char)
            status.append(numbers)

In [293]:
GetBachelorSeason("https://bachelor-nation.fandom.com//wiki/The_Bachelor_(Season_3)")
season3_df = {
    "Name" : names,
    "Age" : ages,
    "Hometown" : hometowns,
    "Occupation" : occupations,
    "ElimWeek" : status,
}
s3_df = pd.DataFrame(season3_df)
s3_df

,Name,Age,Hometown,Occupation,ElimWeek
0,Estella Gardinier,28,"Beverly Hills, California",Mortgage Broker,0.0
1,Kelly Jo Kuharski,28,"Beverly Hills, California",Mortgage Broker,0.0
2,Mary Delgado,24,"Kalamazoo, Michigan",Director of community relations,0.0
3,Meredith Phillips,28,"Tampa, Florida",Sales manager,6.0
4,Brooke Bradford,28,"Beaverton, Oregon",Make-up artist,5.0
5,Lee-Ann Callebs,24,"Bartlett, Tennessee",Teacher,4.0
6,Antoinette Madonna,24,"Athens, Georgia",Second-grade teacher,4.0
7,Jenny Hartgrove,30,"Philadelphia, Pennsylvania",Senior Account Manager,3.0
8,Karin Smith,30,"Austin, Texas",Marketing Director,3.0
9,Misty,32,"Brooklyn Park, Minnesota",Mortgage Consultant,3.0
10,Jennifer,23,"Dallas, Texas",Radio Promotions Assistant,3.0
11,Kristi Houston,26,"La Jolla, California",Elementary School Teacher,2.0
12,Lanah,24,"Chicago, Illinois",Loan Processor,2.0
13,Lindsay D.,27,"Poolesville, Maryland",Event Coordinator,2.0
14,Lindsay King,23,"Los Angeles, California",Professional Dancer,2.0
15,Christine,25,"Mauldin, South Carolina",Pharmaceutical Sales,1.0
16,Darla Whistler,24,"Corona, California",Administrative Assistant,1.0
17,Heather,26,"Gainesville, Florida",Attorney,1.0
18,Julie,24,"Chicago, Illinois",Recent College Graduate,1.0
19,Lauren,29,"Louisville, Kentucky",Sales/Modeling,1.0
20,Leona,24,"Redondo Beach, California",Retail Buyer,1.0
21,Samentha,25,"Chicago, Illinois",Realtor's assistant,1.0
22,Shea Deeds,25,"Chicago, Illinois",Kitchen designer,1.0
23,Shelly,25,"Shreveport, Lousiana",Firefighter,1.0
24,Stacey,26,"Wanwatosa, Wisconsin",Pharmaceutical Sales,1.0

In [292]:
ClearLists()
GetBachelorSeason("https://bachelor-nation.fandom.com//wiki/The_Bachelor_(Season_4)")
season4_df = {
    "Name" : names,
    "Age" : ages,
    "Hometown" : hometowns,
    "Occupation" : occupations,
    "ElimWeek" : status,
}
s4_df = pd.DataFrame(season4_df)
s4_df

,Name,Age,Hometown,Occupation,ElimWeek
0,Estella Gardinier,28,"Beverly Hills, California",Mortgage Broker,0.0
1,Kelly Jo Kuharski,28,"Beverly Hills, California",Mortgage Broker,0.0
2,Mary Delgado,24,"Kalamazoo, Michigan",Director of community relations,0.0
3,Meredith Phillips,28,"Tampa, Florida",Sales manager,6.0
4,Brooke Bradford,28,"Beaverton, Oregon",Make-up artist,5.0
5,Lee-Ann Callebs,24,"Bartlett, Tennessee",Teacher,4.0
6,Antoinette Madonna,24,"Athens, Georgia",Second-grade teacher,4.0
7,Jenny Hartgrove,30,"Philadelphia, Pennsylvania",Senior Account Manager,3.0
8,Karin Smith,30,"Austin, Texas",Marketing Director,3.0
9,Misty,32,"Brooklyn Park, Minnesota",Mortgage Consultant,3.0
10,Jennifer,23,"Dallas, Texas",Radio Promotions Assistant,3.0
11,Kristi Houston,26,"La Jolla, California",Elementary School Teacher,2.0
12,Lanah,24,"Chicago, Illinois",Loan Processor,2.0
13,Lindsay D.,27,"Poolesville, Maryland",Event Coordinator,2.0
14,Lindsay King,23,"Los Angeles, California",Professional Dancer,2.0
15,Christine,25,"Mauldin, South Carolina",Pharmaceutical Sales,1.0
16,Darla Whistler,24,"Corona, California",Administrative Assistant,1.0
17,Heather,26,"Gainesville, Florida",Attorney,1.0
18,Julie,24,"Chicago, Illinois",Recent College Graduate,1.0
19,Lauren,29,"Louisville, Kentucky",Sales/Modeling,1.0
20,Leona,24,"Redondo Beach, California",Retail Buyer,1.0
21,Samentha,25,"Chicago, Illinois",Realtor's assistant,1.0
22,Shea Deeds,25,"Chicago, Illinois",Kitchen designer,1.0
23,Shelly,25,"Shreveport, Lousiana",Firefighter,1.0
24,Stacey,26,"Wanwatosa, Wisconsin",Pharmaceutical Sales,1.0

In [291]:
ClearLists()
GetBachelorSeason("https://bachelor-nation.fandom.com//wiki/The_Bachelor_(Season_6)")

season6_df = {
    "Name" : names,
    "Age" : ages,
    "Hometown" : hometowns,
    "Occupation" : occupations,
    "ElimWeek" : status,
}
s6_df = pd.DataFrame(season6_df)
s6_df

,Name,Age,Hometown,Occupation,ElimWeek
0,Mary Delgado,29,"Tampa, FL",Sales manager,0.0
1,Tanya,29,"Tampa, FL",Sales manager,0.0
2,Cynthia,31,"Plano, TX",Teacher,0.0
3,Cheresse,37,"Hermosa Beach, CA",Charity foundations director,7.0
4,Andrea,31,"St. Louis, MO",Advertising director,6.0
5,Jayne,33,"Denver, CO",Dental hygienist,5.0
6,Elizabeth,37,"Key Largo, FL",Dog groomer,5.0
7,Krysta,28,"Chicago, IL",Pharmaceutical sales,4.0
8,Amanda,28,"Oklahoma City, OK",Financial analyst,4.0
9,Kristie,27,"New York, NY",Cosmetics buyer,3.0
10,Susie,32,"Windsor, Canada",Bar owner,3.0
11,Heather Cranford,32,"Hollywood, CA",Insurance broker,3.0
12,Ashley,32,"Dallas, TX",Flight attendant,3.0
13,Kelly,31,"Santa Barbara, CA",Teacher,2.0
14,Leina,34,"Beverly Hills, CA",Actress,2.0
15,Natalie,28,"Chula Vista, CA",Advertising associate,2.0
16,Wende,34,"Santa Monica, CA",Retail sales,2.0
17,Abby,28,"Austin, TX",Model,2.0
18,Alma Rubenstein,29,"Henderson, NV",Acrobat,1.0
19,Amy,35,"Astoria, OR",Cafe owner,1.0
20,Carolyn,27,"San Diego, CA",Marketing consultant,1.0
21,Jennifer,36,"Tusla, OK",Financial advisor,1.0
22,Kerry,31,"Seattle, WA",Account executive,1.0
23,Kristin,31,"San Francisco, CA",Nurse,1.0
24,Lisa,27,"Pensacola, FL",Office manager,1.0

In [210]:
ClearLists()
GetBachelorSeason("https://bachelor-nation.fandom.com//wiki/The_Bachelor_(Season_7)")
ages = ages[1:]
hometowns = hometowns[1:]
occupations = occupations[1:]
status = status[1:]

season7_df = {
    "Name" : names,
    "Age" : ages,
    "Hometown" : hometowns,
    "Occupation" : occupations,
    "ElimWeek" : status,
    "Season" : 7
}
s7_df = pd.DataFrame(season7_df)
s7_df

,Name,Age,Hometown,Occupation,ElimWeek,Season
0,Sarah Brice,24,"McKinney, Texas",Labor and Delivery Nurse,0.0,7
1,Krisily Kennedy,25,"Warwick, Rhode Island",Salon Coordinator,0.0,7
2,Sarah Welch,24,"Los Angeles, California",Fashion Design,6.0,7
3,Kimberly Choma,25,"Edmonton, Alberta",Swimsuit Model,5.0,7
4,Anitra,29,"Manhattan Beach, California",Makeup Artist,4.0,7
5,Kindle,23,"Rockwell, Texas",Pro Basketball Cheerleader,4.0,7
6,Jenny Adams,23,"Edmonton, Alberta",Marketing Coordinator,3.0,7
7,Kara,26,"Woodland Hills, California",Nanny,3.0,7
8,Carrie,27,"Minneapolis, Minnesota",Computer Specialist,2.0,7
9,Gina Marie,28,"Fort Lauderdale, Florida",Bartender,2.0,7
10,Kerry,32,"Chicago, Illinois",Director of Mergers & Acquisitions,2.0,7
11,Megan,23,"Tallahassee, Florida",Retail Marketing,2.0,7
12,Brenda,26,"New York City, New York",Sales Coordinator,1.0,7
13,Danuska,30,"Los Angeles, California",Runway Model,1.0,7
14,Debby,25,"Thornhill, Ontario",Flight Attendant,1.0,7
15,Emilie,27,"Chicago, Illinois",Technology Sales,1.0,7
16,Geitan,30,"Newport Beach, California",Realtor,1.0,7
17,Heather,24,"Orlando, Florida",Contractor,1.0,7
18,Katie,25,"Tempe, Arizona",Resort Accountant,1.0,7
19,Kristen,30,"Boston, Massachusetts",Teacher,1.0,7
20,Kristina,27,"Brooklyn, New York",Writer,1.0,7
21,Kristine,23,"Fairfax Station, Virginia",Bikini Model,1.0,7
22,Kyshawn,30,"Nashville, Tennessee",Bartender,1.0,7
23,Siomara,25,"Chicago, Illinois",Loan Officer,1.0,7

In [235]:
aNames = []
aAges= []
aHomes = []
aOcucupation = []
aStatus = []
aSeason = []

for i in range(11): 
    ClearLists()
    GetBachelorSeasonWiki(f"https://en.wikipedia.org/wiki/The_Bachelors_(Australian_TV_series)_season_{i}")
    
    aNames.extend(names)
    aAges.extend(ages)
    aHomes.extend(hometowns)
    aOcucupation.extend(occupations)
    aStatus.extend(status)
    
aAges = aAges[1:]
aHomes = aHomes[1:]
aOcucupation = aOcucupation[1:]
aStatus = aStatus[1:]
    
paradise_df = {
    "Name" : aNames,
    "Age" : aAges,
    "Hometown" : aHomes,
    "Occupation" : aOcucupation,
    "ElimWeek" : aStatus,
}

p_df = pd.DataFrame(paradise_df)
p_df

,Name,Age,Hometown,Occupation,ElimWeek
0,Jessica Navin,25,"Townsville, Queensland",Retail Worker,0.0
1,AlÃ©sia Delaney,28,"Sydney, New South Wales",Real Estate Agent,0.0
2,Leah Cummings,32,"Adelaide, South Australia",Makeup Artist,0.0
3,Abigail Harley,26,"Sydney, New South Wales",Advisor,0.0
4,Angela Ferdinands,25,"Melbourne, Victoria",Model,0.0
...,...,...,...,...,...
68,"Jessica ""Jess"" Tomlinson",25,"Central Coast, New South Wales",Cleaning company owner,0.0
69,Yuri Nagata,24,"Broome, Western Australia",FIFOWorker,0.0
70,Marnie Klippelt,21,"Sydney, New South Wales",Student,0.0
71,Abby Miller,28,"Brisbane, Queensland",Stay-At-Home Mum,0.0
72,Emma Lewis,21,"Sydney, New South Wales",Retail Worker,0.0

In [270]:
cNames = []
cAges= []
cHomes = []
cOcucupation = []
cStatus = []
cSeason = []

for i in range(0, 4): 
    ClearLists()
    GetBachelorSeasonWiki(f"https://en.wikipedia.org/wiki/The_Bachelor_Canada_season_{i}")
    
    cNames.extend(names)
    cAges.extend(ages)
    cHomes.extend(hometowns)
    cOcucupation.extend(occupations)
    cStatus.extend(status)
    
cAges = cAges[2:]
cHomes = cHomes[2:]
cOcucupation = cOcucupation[2:]
cStatus = cStatus[2:]
    
canada_df = {
    "Name" : cNames,
    "Age" : cAges,
    "Hometown" : cHomes,
    "Occupation" : cOcucupation,
    "ElimWeek" : cStatus,
}

c_df = pd.DataFrame(canada_df)
c_df

,Name,Age,Hometown,Occupation,ElimWeek
0,Bianka Kamber[2],24,"Calgary,Alberta",Administrative Assistant,7.0
1,Whitney Lee[3],25,"Delta, British Columbia",Grad Student,6.0
2,Kara Henderson[4],24,"Oakville, Ontario",Law Student,5.0
3,Gabrielle Dipersico[5],26,"Ottawa,Ontario",Server,4.0
4,Ana Calin,23,"Swift Current,Saskatchewan",Nurse,4.0
5,Britany Boutin[3][6],23,"Ottawa,Ontario",Cocktail Waitress,4.0
6,Laura Bateman[7],25,"Sylvan Lake, Alberta",Pastor,4.0
7,Chantelle Harink[8],27,"Newmarket, Ontario",Yoga Instructor,3.0
8,Michelle Beilhartz[9],25,"St. Thomas, Ontario",Optician,3.0
9,Nicole De Vries,26,"Moncton,New Brunswick",University Recruitment Agent,3.0
10,Sophie LeBlanc[10],25,"Ottawa,Ontario",Marketing Coordinator,3.0
11,Tia Borden[11],23,"Winnipeg,Manitoba",Medical Student,2.0
12,Laura F.[12],28,"North Vancouver,British Columbia",Playboy Model,2.0
13,Melissa Marie Peters[13],26,"Calgary,Alberta",Petroleum Land Administrator,2.0
14,Michelle Vessey[14],32,"Montreal,Quebec",Model/Neuroscientist,2.0
15,Stephanie Wuethrich,29,"Winnipeg,Manitoba",Strip Club Server,1.0
16,Amber Zubriski[15],25,"Toronto,Ontario",Office Administrator,1.0
17,Clarice Ching[16],25,"Ajax, Ontario",Sales Associate,1.0
18,Fawn F.[12],33,"Rocky Mountain House,Alberta",Photo Lab Manager,1.0
19,Mindy Olson,27,"Toronto,Ontario",Real Estate Agent,1.0
20,Rebecca Harrison[17],29,"Wetaskiwin,Alberta",Makeup Artist,1.0
21,Sandy Denham[12][18],26,"Thunder Bay,Ontario",Trial Lawyer,1.0
22,Tina Petrick,27,"Wasaga Beach,Ontario",Realtor,0.0
23,April Brockman,27,"Wasaga Beach,Ontario",Realtor,0.0
24,Trisha Vergo[2],28,"Edmonton,Alberta",Beauty Queen,8.0
25,Sachelle Violette[3],24,"Sudbury,Ontario",University Recruitment Coordinator,7.0
26,Lisa Racz[4],25,"Calgary,Alberta",Hairstylist,7.0
27,Kaylynn Taylor,26,"Vancouver,British Columbia",Ballerina,6.0
28,Dominique Kost[5],28,"Montreal,Quebec",Reception & IT,5.0
29,Natalie Elliott[6],27,"Cambridge, Ontario",Elementary French Teacher,4.0
30,Rileigh Perin,23,"Kingston, Ontario",Philosophy Student/Waitress,4.0
31,April Borgnetta,30,"Victoria, British Columbia",Wax Artist,3.0
32,Christine White[7][8],29,"Vancouver,British Columbia",Music Teacher,3.0
33,Jenny Campion[9],26,"Hong Kong/Vancouver, British Columbia",Personal Trainer,3.0
34,Martha Reyes Islas,26,"Cuernavaca,Mexico/Montreal, Quebec",Fashion Buyer,3.0
35,Alison Ruiz,27,"Montreal, Quebec",Nurse,2.0
36,RenÃ©e-Anne Montpellier[10],28,"Sherbrooke,Quebec",ER Doctor,2.0
37,Sonia Hoshowsky[11],42,"Calgary, Alberta",Lingerie Model,2.0
38,Andrea Driedger[12],30,"Kelowna,British Columbia",Dental Hygienist,1.0
39,Jacqueline Metcalfe,23,"Toronto,Ontario",Law Office Admin Assistant,1.0
40,Jennifer Selinger[13],26,"Montreal, Quebec",Joyologist,1.0
41,Jewel Brady,32,"Toronto, Ontario",Accountant,1.0
42,Kelsey Palmer,28,"Calgary, Alberta",Sommelier,1.0
43,Raelee Fedyna[14],26,"Calgary, Alberta",Gymnast/Art Director,1.0
44,Ritiuska Leon,33,"Puerto Ordaz,Venezuela/Calgary, Alberta",Engineer,1.0
45,Sarah Barber,31,"St. Catharines,Ontario",Personal Trainer Worker,1.0

In [271]:
gNames = []
gAges= []
gHomes = []
gOcucupation = []
gStatus = []
gSeason = []

for i in range(1, 4): 
    ClearLists()
    GetBachelorSeasonWiki(f"https://en.wikipedia.org/wiki/The_Bachelors_(Australian_TV_series)_season_{i}")
    
    gNames.extend(names)
    gAges.extend(ages)
    gHomes.extend(hometowns)
    gOcucupation.extend(occupations)
    gStatus.extend(status)
    
gAges = gAges[1:]
gHomes = gHomes[1:]
gOcucupation = gOcucupation[1:]
gStatus = gStatus[1:]
    
greek_df = {
    "Name" : gNames,
    "Age" : gAges,
    "Hometown" : gHomes,
    "Occupation" : gOcucupation,
    "ElimWeek" : gStatus,
}

g_df = pd.DataFrame(greek_df)
g_df

,Name,Age,Hometown,Occupation,ElimWeek
0,Jessica Navin,25,"Townsville, Queensland",Retail Worker,0.0
1,AlÃ©sia Delaney,28,"Sydney, New South Wales",Real Estate Agent,0.0
2,Leah Cummings,32,"Adelaide, South Australia",Makeup Artist,0.0
3,Abigail Harley,26,"Sydney, New South Wales",Advisor,0.0
4,Angela Ferdinands,25,"Melbourne, Victoria",Model,0.0
5,Lauren Whybird,28,"Gold Coast, Queensland",Hairdresser,0.0
6,Krystal Thomas,26,"Gold Coast, Queensland",Model,0.0
7,"Kristen ""Kiki"" Joell",38,"Gold Coast, Queensland",Marketing Director,0.0
8,Courtney Mustac,33,"Melbourne, Victoria",Designer,0.0
9,Tilly Skok,24,"Melbourne, Victoria",Event Coordinator,0.0
10,Bella Johnston,27,"Sydney, New South Wales",,0.0
11,Jasmine Absolom,24,"Brisbane, Queensland",Business Development Officer,19.0
12,"Alicia ""Lou"" Bellbowen",31,"Tweed Heads, New South Wales",Marketing Manager,0.0
13,Eboni Burling,29,"Brisbane, Queensland",Talent Acquisition Coordinator,0.0
14,Naomi Johnston,24,"Sydney, New South Wales",Marketing Manager,0.0
15,Zara Jekyll,27,"Sydney, New South Wales",Office Manager,0.0
16,Jenae Weston,29,"Melbourne, Victoria",Beauty Entrepreneur,0.0
17,"Natasha ""Tash"" Zuanetti",31,"Melbourne, Victoria",Property Manager,0.0
18,"Casey-Jo ""CJ""",30,"Perth, Western Australia",Wannabe Influencer,0.0
19,Marjorie Griffiths,25,"Central Coast, New South Wales",Cleaning company owner,0.0
20,"Jessica ""Jess"" Tomlinson",24,"Broome, Western Australia",FIFOWorker,0.0
21,Yuri Nagata,21,"Sydney, New South Wales",Student,0.0
22,Marnie Klippelt,28,"Brisbane, Queensland",Stay-At-Home Mum,0.0
23,Abby Miller,21,"Sydney, New South Wales",Retail Worker,0.0
24,Emma Lewis,25,"Gold Coast, Queensland",PR Manager,0.0
25,Mckenna Lea,25,"Gold Coast, Queensland",PR Manager,0.0
26,Ellie Rolfe,29,"Geraldton, Western Australia",Beauty Therapist,0.0
27,Brea Marshall,25,"Tully Heads, Queensland",Mining Administrator,0.0
28,Angela Valenti,36,"Melbourne, Victoria",Business Owner,0.0
29,Lana Chegodaev,36,"Sydney, New South Wales",Category Manager,0.0
30,Aarthi Balakumar,29,"Sydney, New South Wales",Health Projects Manager,0.0
31,Amelia Easey,25,"Central Coast, New South Wales",Nursing Student,0.0
32,Maddison Lieberwirth,24,"Melbourne, Victoria",Marketing Specialist,0.0
33,Nella Lelo,33,"Sydney, New South Wales",Flight Attendant,0.0
34,Natalie Benson,27,"Melbourne, Victoria",Technical Specialist,0.0
35,Caitlin Allan,25,"Melbourne, Victoria",Jewellery Salesperson,0.0
36,"Evangeline ""Evie"" Batalha",29,"Adelaide, South Australia",Professional Development Specialist,3.0
37,Jade Wilden,27,"Brisbane, Queensland",Interior Designer,7.0
38,Lisa Brehmer,23,"Sydney, New South Wales",Interior Design Student,6.0
39,Tabitha von Sanden,27,"Brisbane, Queensland",Registered Nurse,0.0
40,Anastasia Iliopoulos,32,"Melbourne, Victoria",Property Developer,7.0
41,Mel Ree,35,"Darwin, Northern Territory",Indigenous Mentor,5.0
42,Dana Melnik,25,"Sydney, New South Wales",Medical Researcher,4.0
43,Holly Trim,27,"Sydney, New South Wales",Environmental Scientist,3.0
44,Angie Glavas,33,"Melbourne, Victoria",Makeup Artist,2.0
45,Carla Di Matteo,23,"Sydney, New South Wales",Hairdresser,1.0
46,Chrystal Mao,25,"Melbourne, Victoria",IT Analyst,0.0
47,Kristen Sorrenson,32,"Gold Coast, Queensland",Tattoo Artist,0.0

In [272]:
nzNames = []
nzAges= []
nzHomes = []
nzOcucupation = []
nzStatus = []
nzSeason = []

for i in range(1, 5): 
    ClearLists()
    GetBachelorSeasonWiki(f"https://en.wikipedia.org/wiki/The_Bachelor_New_Zealand_season_{i}")
    
    nzNames.extend(names)
    nzAges.extend(ages)
    nzHomes.extend(hometowns)
    nzOcucupation.extend(occupations)
    nzStatus.extend(status)
    
nzAges = nzAges[3:]
nzHomes = nzHomes[3:]
nzOcucupation = nzOcucupation[3:]
nzStatus = nzStatus[3:]
    
newZealand_df = {
    "Name" : nzNames,
    "Age" : nzAges,
    "Hometown" : nzHomes,
    "Occupation" : nzOcucupation,
    "ElimWeek" : nzStatus,
}

nz_df = pd.DataFrame(newZealand_df)
nz_df

,Name,Age,Hometown,Occupation,ElimWeek
0,Matilda Rice,26,Invercargill,High school English teacher,6.0
1,Dani Robinson,24,Auckland,Yoga instructor,5.0
2,Alysha Brown,30,Christchurch,Yoga teacher,3.0
3,Poppy Salter,23,Pukekohe,Event manager,2.0
4,Chrystal Chenery,24,Balclutha,Primary school teacher,1.0
...,...,...,...,...,...
58,Stephanie Lai,24,Auckland,Law Student,4.0
59,Taylar Saunders,23,Christchurch,Credit and Loan Officer,0.0
60,Mariana Morrison,31,Rotorua,Business Studies Lecturer,3.0
61,Charlotte Bullock,24,Auckland,Account Manager,2.0
62,Elaina,26,"Bangkok, Thailand",Early Childhood Teacher,0.0

In [268]:
ClearLists()
GetBachelorSeasonWiki(f"https://en.wikipedia.org/wiki/The_Bachelor_(American_TV_series)_season_27")
    
season27_df = {
    "Name" : names,
    "Age" : ages,
    "Hometown" : hometowns,
    "Occupation" : occupations,
    "ElimWeek" : status,
}

s27_df = pd.DataFrame(season27_df)
s27_df

,Name,Age,Hometown,Occupation,ElimWeek
0,"Kaitlyn ""Kaity"" Biggar[21]",27,"Kingston, Ontario",Travel Nurse,0.0
1,"Gabriella ""Gabi"" Elnicki[23]",27,"Kingston, Ontario",Travel Nurse,0.0
2,Ariel Frenkel[10][24],25,"Pittsford, Vermont",Senior Account Executive,0.0
3,Charity Lawson[26],28,"Manhattan, New York",Marketing Executive,9.0
4,Katherine Izzo[28],26,"Columbus, Georgia",Child and Family Therapist,8.0
5,Brooklyn Willie[6][30],26,"Tampa, Florida",Registered Nurse,7.0
6,Greer Blitzer[31],25,"Mineola, Texas",Rodeo Racer,6.0
7,"Alyssa ""Aly"" Jacobs[32][33]",24,"Bellaire, Texas",Medical Sales Representative,7.0
8,"Jessica ""Jess"" Girod[33]",26,"Smyrna, Georgia",Healthcare Strategist,6.0
9,Kylee Russell[35][36],23,"Winter Springs, Florida",E-Commerce Coordinator,9.0
10,Mercedes Northup[37],25,"Charlotte, North Carolina",Postpartum Nurse,5.0
11,Davia Bunch[8],24,"Bloomfield, Iowa",Nonprofit Case Manager,8.0
12,Genevie Mayo[39][40],25,"Roebuck, South Carolina",Marketing Manager,4.0
13,Anastasia Keramidas[39],26,"Joppa, Maryland",Neonatal Nurse,12.0
14,Christina Mandrell[6][7],30,"Baltimore, Maryland",Content Marketing Manager,5.0
15,Brianna Thorbourne[6][41],26,"Hendersonville, Tennessee",Content Creator,3.0
16,Bailey Brown[6][42],24,"Jersey City, New Jersey",Entrepreneur,7.0
17,"Catherine ""Cat"" Wong[6][8]",27,"Brentwood, Tennessee",Executive Recruiter,8.0
18,Kimberly Gutierrez[43],26,"Bushwick, New York",Professional Dancer,2.0
19,Victoria Jameson[31][44],30,"Stroudsburg, Pennsylvania",Hospitality Manager,12.0
20,Becca Serrano[43],30,"Keller, Texas",Professional Makeup Artist,7.0
21,Cara Ammon[46],25,"Burbank, California",Nursing Student,1.0
22,Holland Parsons[43],27,"McCandless, Pennsylvania",Corporate Recruiter,7.0
23,Lekha Ravi[9][47],24,"Boca Raton, Florida",Insurance Marketer,20.0
24,Olivia Lewis[48],29,"Miami, Florida",Financial Advisor,12.0

In [269]:
ClearLists()
GetBachelorSeasonWiki(f"https://en.wikipedia.org/wiki/The_Bachelor_(American_TV_series)_season_28")
    
season28_df = {
    "Name" : names,
    "Age" : ages,
    "Hometown" : hometowns,
    "Occupation" : occupations,
    "ElimWeek" : status,
}

s28_df = pd.DataFrame(season28_df)
s28_df

,Name,Age,Hometown,Occupation,ElimWeek
0,Kelsey Anderson[18],25,"Leesville, Louisiana",Junior Project Manager,0.0
1,Daisy Kent[20][21],25,"Leesville, Louisiana",Junior Project Manager,0.0
2,Rachel Nance[22],25,"Becker, Minnesota",Account Executive,1.0
3,Maria Georgas[8][24],26,"Honolulu, Hawaii",ICU Nurse,9.0
4,"Jennifer ""Jenn"" Tran[26][27]",29,"Kleinburg, Ontario",Executive Assistant,8.0
5,Kelsey Toussant[29],25,"Hillsdale, New Jersey",PAStudent,7.0
6,Katelyn DeBacker[30],31,"Inglewood, California",Actress,3.0
7,Lea Cayanan[5][22],26,"Santa Fe, New Mexico",Radiochemist,6.0
8,Lexi Young[31],23,"Waipahu, Hawaii",Account Manager,4.0
9,"Jessica ""Jess"" Edwards[32]",30,"Pataskala, Ohio",Digital Strategist,9.0
10,Autumn Waggoner[33],24,"Erwin, Tennessee",Executive Assistant,1.0
11,Madina Alam[35],26,"De Soto, Missouri",Account Executive,5.0
12,Allison Hollinger[a][36],31,"Charlotte, North Carolina",Mental Health Therapist,9.0
13,Edwina Dorbor[37],26,"Dover, Delaware",Realtor,4.0
14,Sydney Gordon[38],25,"Maple Grove, Minnesota",Entrepreneur,11.0
15,Chrissa Perez[24][40],28,"Newport, Rhode Island",Vintage Store Owner,6.0
16,Evalin Clark[41],26,"Abbotsford, British Columbia",Marketing Director,3.0
17,Starr Skyler[27],29,"San Antonio, Texas",Nanny,9.0
18,Erika Cardenas[42],25,"Delray Beach, Florida",Mental Health Counselor,6.0
19,Marlena Haddad[7][27],25,"North Bergen, New Jersey",Leasing Agent,2.0
20,Taylor Wiens[43],26,"Waterbury, Connecticut",Finance Writer,7.0
21,Lauren Hollinger[a][36],23,"Olathe, Kansas",Recruiter,9.0
22,Chandler Dewgard[44],28,"Dover, Delaware",Registered Nurse,4.0
23,Kayla Rodgers[46],24,"Brooklyn, New York",Graphic Designer,1.0
24,Kyra Brusch[27],27,"Hamilton, Ohio",Guidance Counselor,9.0

In [280]:
ClearLists()
GetBachelorSeasonWiki(f"https://en.wikipedia.org/wiki/The_Bachelor_Winter_Games", "Elimination_table")

names = ["Ashley Iaconetti", "Kevin Wendt", "Courtney Dober", "Lily McManus-Semchyshyn", "Dean Unglert", "Lesley Murphy", "Luke Pell", "Nastassia Stassi Yaramchuk", "Bibiana Julian", "Jordan Mauger", "Ally Thompson", "Josiah Graham", "Christian Rauch", "Clare Crawley", "Yuki Kimura", "Michael Garofola", "Ben Higgins", "Tiffany Scanlon", "Jenny Helenius", "Rebecca Carlson", "Benoit BeausÃ©jour-Savard", "Eric Bigger", "Jamey Kocan", "Laura Blair", "Lauren Griffin"]

winter_df = {
    "Name" : names,
    "Age" : ages,
    "Hometown" : hometowns,
    "Occupation" : occupations,
    "ElimWeek" : status,
}


W_df = pd.DataFrame(winter_df)
W_df

,Name,Age,Hometown,Occupation,ElimWeek
0,Ashley Iaconetti,Ashley Iaconetti,29,"Los Angeles, California",5.0
1,Kevin Wendt,Ashley Iaconetti,29,"Los Angeles, California",5.0
2,Courtney Dober,Kevin Wendt,33,"Waterloo, Ontario",0.0
3,Lily McManus-Semchyshyn,Courtney Dober,31,"Sydney, New South Wales",0.0
4,Dean Unglert,Lily McManus-Semchyshyn,21,"Auckland, New Zealand",0.0
5,Lesley Murphy,Dean Unglert,26,"Venice, California",4.0
6,Luke Pell,Lesley Murphy,30,"Fort Smith, Arkansas",0.0
7,Nastassia Stassi Yaramchuk,Luke Pell,33,"Nashville, Tennessee",0.0
8,Bibiana Julian,"Nastassia ""Stassi"" Yaramchuk",26,"MalmÃ¶, Sweden",0.0
9,Jordan Mauger,Bibiana Julian,30,"Miami, Florida",0.0
10,Ally Thompson,Jordan Mauger,34,"Auckland, New Zealand",0.0
11,Josiah Graham,Ally Thompson,24,"Nelson, New Zealand",0.0
12,Christian Rauch,Josiah Graham,29,"Plantation, Florida",0.0
13,Clare Crawley,Christian Rauch,34,"Berlin, Germany",0.0
14,Yuki Kimura,Clare Crawley,36,"Sacramento, California",3.0
15,Michael Garofola,Yuki Kimura,21,"Atsugi, Kanagawa",0.0
16,Ben Higgins,Michael Garofola,37,"Houston, Texas",2.0
17,Tiffany Scanlon,Ben Higgins,28,"Denver, Colorado",2.0
18,Jenny Helenius,Tiffany Scanlon,31,"Perth, Western Australia",0.0
19,Rebecca Carlson,Jenny Helenius,34,"Helsinki, Finland",0.0
20,Benoit BeausÃ©jour-Savard,Rebecca Carlson,26,"Stockholm, Sweden",0.0
21,Eric Bigger,Benoit BeausÃ©jour-Savard,30,"Montreal, Quebec",0.0
22,Jamey Kocan,Eric Bigger,29,"Baltimore, Maryland",0.0
23,Laura Blair,Jamey Kocan,33,"Santa Monica, California",0.0
24,Lauren Griffin,Laura Blair,29,"Wirral, England",0.0

In [285]:
df = df.drop('Age Diff', axis=1)
df = df.drop('Function', axis=1)
df = df.drop('City', axis=1)
df = df.drop('State', axis=1)
df = df.drop('Region', axis=1)
df = df.drop('First_Impression_Rose', axis=1)
df = df.drop('Hair Color', axis=1)
df = df.drop('Is Blonde', axis=1)
df = df.drop('Winner', axis=1)
df = df.drop('Height', axis=1)
df = df.drop('Season', axis=1)

In [288]:
df

,Name,Age,Occupation,Hometown,ElimWeek
0,Amanda Marsh,23.0,Event Planner,"Chanute, Kansas",7.0
25,Helene Eksterowicz,27.0,School Psychologist,"Gloucester, New Jersey",8.0
50,Jessica Bowlin,22.0,Student,"Huntington Beach, California",8.0
75,Jennifer Wilson,24.0,Teacher,"Pembroke Pines, Florida",8.0
102,Tessa Horst,26.0,Social Worker,"San Francisco, California",9.0
...,...,...,...,...,...
517,Jessenia Cruz,27.0,Social Media Marketer,"El Paso, Texas",7.0
518,Kit Keenan,21.0,Fashion Entrepreneur,"New York, New York",7.0
519,Abigail Heringer,25.0,Client Financial Manager,"Salem, Oregon",7.0
520,Chelsea Vaughn,29.0,Runway Model,"Marietta, Georgia",6.0
521,Serena Chew,24.0,Flight Attendant,"San Bruno, California",6.0

In [297]:
dfs = [df, s27_df, s28_df, W_df, nz_df, g_df, c_df, p_df, s7_df, s6_df, s4_df, s3_df]

merged_df = reduce(lambda left, right: pd.merge(left, right, on='Name', how='outer'), dfs)

C:\Users\lbarber\AppData\Local\Temp\ipykernel_23748\588857610.py:3: FutureWarning: Passing 'suffixes' which cause duplicate columns {'Occupation_x', 'Age_x', 'ElimWeek_x', 'Hometown_x'} in the result is deprecated and will raise a MergeError in a future version.
  merged_df = reduce(lambda left, right: pd.merge(left, right, on='Name', how='outer'), dfs)
C:\Users\lbarber\AppData\Local\Temp\ipykernel_23748\588857610.py:3: FutureWarning: Passing 'suffixes' which cause duplicate columns {'Occupation_x', 'Age_x', 'ElimWeek_x', 'Hometown_x'} in the result is deprecated and will raise a MergeError in a future version.
  merged_df = reduce(lambda left, right: pd.merge(left, right, on='Name', how='outer'), dfs)
C:\Users\lbarber\AppData\Local\Temp\ipykernel_23748\588857610.py:3: FutureWarning: Passing 'suffixes' which cause duplicate columns {'Occupation_x', 'Age_x', 'ElimWeek_x', 'Hometown_x'} in the result is deprecated and will raise a MergeError in a future version.
  merged_df = reduce(lambda left, right: pd.merge(left, right, on='Name', how='outer'), dfs)
C:\Users\lbarber\AppData\Local\Temp\ipykernel_23748\588857610.py:3: FutureWarning: Passing 'suffixes' which cause duplicate columns {'Occupation_x', 'Age_x', 'ElimWeek_x', 'Hometown_x'} in the result is deprecated and will raise a MergeError in a future version.
  merged_df = reduce(lambda left, right: pd.merge(left, right, on='Name', how='outer'), dfs)
C:\Users\lbarber\AppData\Local\Temp\ipykernel_23748\588857610.py:3: FutureWarning: Passing 'suffixes' which cause duplicate columns {'Occupation_x', 'Age_x', 'ElimWeek_x', 'Hometown_x'} in the result is deprecated and will raise a MergeError in a future version.
  merged_df = reduce(lambda left, right: pd.merge(left, right, on='Name', how='outer'), dfs)

### 2. Training Your Model
In the cell seen below, write the code you need to train a linear regression model. Make sure you display the equation of the plane that best fits your chosen data at the end of your program. 

*Note, level 5 work trains a model using only the standard Python library and Pandas. A level 5 model is trained with at least two features, where one of the features begins as a categorical value (e.g. occupation, hometown, etc.). A level 4 uses external libraries like scikit or numpy.*

In [155]:
df.replace([np.inf, -np.inf], np.nan, inplace=True)
df = df.dropna()

df.info()

df[df.select_dtypes(np.float32).columns] = df.select_dtypes(np.float32).astype(np.int32)
df[df.select_dtypes(np.int64).columns] = df.select_dtypes(np.int64).astype(np.int32)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 123 entries, 0 to 521
Data columns (total 17 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Name                   123 non-null    object
 1   Age                    123 non-null    float64
 2   Is Older               123 non-null    float64
 3   Age Diff               123 non-null    float64
 4   Occupation             123 non-null    object
 5   Function               123 non-null    object
 6   Hometown               123 non-null    object
 7   City                   123 non-null    object
 8   State                  123 non-null    object
 9   Region                 123 non-null    object
 10  ElimWeek               123 non-null    float64
 11  Season                 123 non-null    int64
 12  First_Impression_Rose  123 non-null    int64
 13  Hair Color             123 non-null    object
 14  Is Blonde              123 non-null    float64
 15  Winner                 123 non-null    float64
 16  Height                 123 non-null    float64
dtypes: float64(7), int64(2), object(8)
memory usage: 17.3+ KB

C:\Users\lbarber\AppData\Local\Temp\ipykernel_23748\1140179597.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[df.select_dtypes(np.int64).columns] = df.select_dtypes(np.int64).astype(np.int32)

In [156]:
X = df[['Age']]
y = df['ElimWeek']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

regr = linear_model.LinearRegression()
regr.fit(X_train, y_train)

LinearRegression()

In [157]:
slope = regr.coef_[0]
intercept = regr.intercept_
print(slope, intercept)

0.08899483512117604 4.2932061978545875

### 3. Testing Your Model
In the cell seen below, write the code you need to test your linear regression model. 

*Note, a model is considered a level 5 if it achieves at least 60% prediction accuracy or achieves an RMSE of 2 weeks or less.*

In [2]:
# Test model here.

### 4. Final Answer

In the first cell seen below, state the name of your predicted winner. 
In the second cell seen below, justify your prediction using an evaluation technique like RMSE or percent accuracy.

#### State the name of your predicted winner here.

#### Justify your prediction here.