In [4]:
import pandas as pd

In [5]:
import math

In [6]:
df = pd.read_csv("titanic.csv")

PassengerId                   528
Survived                        0
Pclass                          1
Name           Farthing, Mr. John
Sex                          male
Age                           NaN
SibSp                           0
Parch                           0
Ticket                   PC 17483
Fare                     221.7792
Cabin                         C95
Embarked                        S
Name: 527, dtype: object

In [20]:
df[df['PassengerId'] == 528]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
527,528,0,1,"Farthing, Mr. John",male,NaN,0,0,PC 17483,221.7792,C95,S

In [23]:
i = 0
for person in df['Name']:
    if "Fannie" in person:
        break
    i += 1
df.loc[i]

PassengerId                              707
Survived                                   1
Pclass                                     2
Name           Kelly, Mrs. Florence "Fannie"
Sex                                   female
Age                                     45.0
SibSp                                      0
Parch                                      0
Ticket                                223596
Fare                                    13.5
Cabin                                    NaN
Embarked                                   S
Name: 706, dtype: object

In [82]:
count = (df["Sex"] == "male").sum()
print(f"Male Passengers: {int(count / len(df) * 100)} %")

Male Passengers: 64 %

In [107]:
ticketData = pd.read_csv("titanic.csv")
tickets = {}
for i in ticketData['Pclass']:
    if(i in tickets):
        tickets[i] = tickets[i] + 1
    else:
        tickets[i] = 1
        
print("\n".join("{}\t{}".format(k, v) for k, v in tickets.items()))

3	491
1	216
2	184

In [115]:
passengerData = pd.read_csv("titanic.csv")
passengers = {}
for i in passengerData['Embarked']:
    if(i in passengers):
        passengers[i] = passengers[i] + 1
    else:
        passengers[i] = 1
        
for i in passengers.keys():
    print(f"{i} : {math.ceil((passengers[i] / len(passengerData) * 100))} %")

S : 73 %
C : 19 %
Q : 9 %
nan : 1 %