In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("titanic.csv")

In [88]:
df.loc[5, "Age"] = 28
df.head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,Age,SibSp,Age,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,37,1,37,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,37,1,37,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,37,0,37,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,37,1,37,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,37,0,37,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,28.0,28,0,28,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,37,0,37,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,37,3,37,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,37,0,37,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,37,1,37,0,237736,30.0708,NaN,C

In [85]:
count = (df["Age"] > 18).sum()
print(f"There are {count} male passengers")

TypeError: '>' not supported between instances of 'str' and 'int'

In [82]:
count = (df["Sex"] == "male").sum()
print(f"Male Passengers: {int(count / len(df) * 100)} %")

Male Passengers: 64 %